html, body {
  height: 100%;
  background: linear-gradient(to top, #6bd3f9 0%,#0f68c1 100%) no-repeat; 
  background-size: cover;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.App {
  text-align: center;
}



.row {
  justify-content: center;
  margin: 15px 0;
}


